<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiemlwZm91bmRhdGlvbiIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRw
		czpcL1wvZ2l0ZWUuY29tXC9zcG1fbWlycm9yXC9aSVBGb3VuZGF0aW9uIl19
		LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6
		W3sibG93ZXJCb3VuZCI6IjAuOS45IiwidXBwZXJCb3VuZCI6IjEuMC4wIn1d
		fX1dfV0sImRpc3BsYXlOYW1lIjoiUGhpU3R1ZGlvIiwicGFja2FnZUtpbmQi
		Onsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0
		Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwicHJvZHVjdHMi
		Olt7Im5hbWUiOiJQaGlTdHVkaW8iLCJzZXR0aW5ncyI6W3siYnVuZGxlSWRl
		bnRpZmllciI6WyJjb20ucGhpeC5waGlzdHVkaW8iXX0seyJ0ZWFtSWRlbnRp
		ZmllciI6WyJWVVc4RlY1SE41Il19LHsiZGlzcGxheVZlcnNpb24iOlsiMC4w
		LjIiXX0seyJidW5kbGVWZXJzaW9uIjpbIjUiXX0seyJpT1NBcHBJbmZvIjpb
		eyJhY2NlbnRDb2xvciI6eyJhc3NldCI6eyJuYW1lIjoiQWNjZW50Q29sb3Ii
		fX0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0sImNh
		cGFiaWxpdGllcyI6W3sicHVycG9zZSI6InBob3RvTGlicmFyeSIsInB1cnBv
		c2VTdHJpbmciOiLmt7vliqDmm7Lnu5jwn4yfIn0seyJwdXJwb3NlIjoibWVk
		aWFMaWJyYXJ5IiwicHVycG9zZVN0cmluZyI6Iua3u+WKoOmfs+S5kPCfjqci
		fV0sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCJdLCJzdXBwb3J0
		ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7ImxhbmRzY2FwZVJpZ2h0Ijp7
		fX0seyJsYW5kc2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24i
		OnsiY29uZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1d
		fV0sInRhcmdldHMiOlsiQXBwTW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJs
		ZSI6bnVsbH19XSwidGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRl
		bmNpZXMiOlt7InByb2R1Y3QiOlsiWklQRm91bmRhdGlvbiIsInppcGZvdW5k
		YXRpb24iLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxl
		IiwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10sInR5
		cGUiOiJleGVjdXRhYmxlIn19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMi
		Olt7InByb2R1Y3QiOlsiWklQRm91bmRhdGlvbiIsInppcGZvdW5kYXRpb24i
		LG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGF0
		aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUiOiJl
		eGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjUu
		MCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		zpLECGWvWL6+k2T4ExBJSRdf3i7aHNd8swlkSsVdMkU=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
