<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNjbSI6W3siaWRlbnRpdHkiOiJ6aXBmb3Vu
		ZGF0aW9uIiwibG9jYXRpb24iOiJodHRwczpcL1wvZ2l0ZWUuY29tXC9zcG1f
		bWlycm9yXC9aSVBGb3VuZGF0aW9uIiwicHJvZHVjdEZpbHRlciI6bnVsbCwi
		cmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIwLjkuOSIs
		InVwcGVyQm91bmQiOiIxLjAuMCJ9XX19XX1dLCJuYW1lIjoiUGhpU3R1ZGlv
		IiwicGFja2FnZUtpbmQiOiJyb290IiwicGxhdGZvcm1zIjpbeyJvcHRpb25z
		IjpbXSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE1LjIifV0s
		InByb2R1Y3RzIjpbeyJuYW1lIjoiUGhpU3R1ZGlvIiwic2V0dGluZ3MiOlt7
		ImJ1bmRsZUlkZW50aWZpZXIiOlsiY29tLnBoaXgucGhpc3R1ZGlvIl19LHsi
		dGVhbUlkZW50aWZpZXIiOlsiVlVXOEZWNUhONSJdfSx7ImRpc3BsYXlWZXJz
		aW9uIjpbIjAuMC4xIl19LHsiYnVuZGxlVmVyc2lvbiI6WyI0Il19LHsiaU9T
		QXBwSW5mbyI6W3siYWNjZW50Q29sb3JBc3NldE5hbWUiOiJBY2NlbnRDb2xv
		ciIsImNhcGFiaWxpdGllcyI6W3sicHVycG9zZSI6InBob3RvTGlicmFyeSIs
		InB1cnBvc2VTdHJpbmciOiLmt7vliqDmm7Lnu5jwn4yfIn0seyJwdXJwb3Nl
		IjoibWVkaWFMaWJyYXJ5IiwicHVycG9zZVN0cmluZyI6Iua3u+WKoOmfs+S5
		kPCfjqcifV0sImljb25Bc3NldE5hbWUiOiJBcHBJY29uIiwic3VwcG9ydGVk
		RGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwic3VwcG9ydGVkSW50
		ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6e319LHsibGFuZHNj
		YXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9fSx7InBvcnRyYWl0
		VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNlRmFtaWxpZXMiOlsi
		cGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUiXSwidHlwZSI6
		eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsiQXBwTW9kdWxl
		Ijp7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJaSVBGb3VuZGF0aW9u
		IiwiemlwZm91bmRhdGlvbiIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUi
		OiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10sInNldHRp
		bmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRl
		cGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJaSVBGb3VuZGF0aW9uIiwiemlw
		Zm91bmRhdGlvbiIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBN
		b2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpb
		XSwidHlwZSI6ImV4ZWN1dGFibGUifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVy
		c2lvbiI6IjUuNS4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		9wLrqz5f5c/ItEs5N8E3VLHZ+6dAG/T7Yw4pZvdKyb0=
		</data>
		<key>schemaVersion</key>
		<integer>3</integer>
		<key>swiftPMVersionString</key>
		<string>5.5.0</string>
	</dict>
</dict>
</plist>
