<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiemlwZm91bmRhdGlvbiIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRw
		czpcL1wvZ2l0ZWUuY29tXC9zcG1fbWlycm9yXC9aSVBGb3VuZGF0aW9uIl19
		LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6
		W3sibG93ZXJCb3VuZCI6IjAuOS45IiwidXBwZXJCb3VuZCI6IjEuMC4wIn1d
		fX1dfV0sImRpc3BsYXlOYW1lIjoiUGhpU3R1ZGlvIiwicGFja2FnZUtpbmQi
		Onsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0
		Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwicHJvZHVjdHMi
		Olt7Im5hbWUiOiJQaGlTdHVkaW8iLCJzZXR0aW5ncyI6W3siYnVuZGxlSWRl
		bnRpZmllciI6WyJjb20ucGhpeC5waGlzdHVkaW8iXX0seyJ0ZWFtSWRlbnRp
		ZmllciI6WyJWVVc4RlY1SE41Il19LHsiZGlzcGxheVZlcnNpb24iOlsiMS4x
		LjMiXX0seyJidW5kbGVWZXJzaW9uIjpbIjIzIl19LHsiaU9TQXBwSW5mbyI6
		W3siYWNjZW50Q29sb3IiOnsiYXNzZXQiOnsibmFtZSI6IkFjY2VudENvbG9y
		In19LCJhcHBDYXRlZ29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0
		ZWdvcnkudXRpbGl0aWVzIn0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6
		IkFwcEljb24ifX0sImNhcGFiaWxpdGllcyI6W3sicHVycG9zZSI6InBob3Rv
		TGlicmFyeSIsInB1cnBvc2VTdHJpbmciOiLmt7vliqDmm7Lnu5jwn4yfIn0s
		eyJwdXJwb3NlIjoibWVkaWFMaWJyYXJ5IiwicHVycG9zZVN0cmluZyI6Iua3
		u+WKoOmfs+S5kPCfjqcifSx7ImFwcFRyYW5zcG9ydFNlY3VyaXR5Q29uZmln
		dXJhdGlvbiI6eyJleGNlcHRpb25Eb21haW5zIjpbeyJkb21haW5OYW1lIjoi
		aG9tZS51c3RjLmVkdS5jbiIsImV4Y2VwdGlvbkFsbG93c0luc2VjdXJlSFRU
		UExvYWRzIjp0cnVlLCJpbmNsdWRlc1N1YmRvbWFpbnMiOnRydWV9XX0sInB1
		cnBvc2UiOiJhcHBUcmFuc3BvcnRTZWN1cml0eSJ9XSwic3VwcG9ydGVkRGV2
		aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwic3VwcG9ydGVkSW50ZXJm
		YWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6e319LHsibGFuZHNjYXBl
		UmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9fSx7InBvcnRyYWl0VXBz
		aWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNlRmFtaWxpZXMiOlsicGFk
		Il19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUiXSwidHlwZSI6eyJl
		eGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsiQXBwTW9kdWxlIjp7
		ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJaSVBGb3VuZGF0aW9uIiwi
		emlwZm91bmRhdGlvbiIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJB
		cHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJl
		c291cmNlcyIsInJ1bGUiOiJwcm9jZXNzIn1dLCJzZXR0aW5ncyI6W10sInR5
		cGUiOiJleGVjdXRhYmxlIn19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMi
		Olt7InByb2R1Y3QiOlsiWklQRm91bmRhdGlvbiIsInppcGZvdW5kYXRpb24i
		LG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGF0
		aCI6Ii4iLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMiLCJydWxl
		IjoicHJvY2VzcyJ9XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJs
		ZSJ9XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS42LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		/zfczCjG1Ws3nQmJVYs+qcJNfshXK1tOE9vfmIxBGg8=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
